# データ分析の基礎体力づくり
## ファイルアクセス

In [2]:
import os

os.getcwd()  # 現在地

'/home/akihiro/practice/python/03_python/basic-practice/DA_WB/2章'

In [3]:
# pandasでcsv読み込み
import pandas as pd

df_sales_2021 = pd.read_csv("data/売上テーブル_2021.csv", encoding="SJIS")
df_sales_2021.head()

        売上ID       顧客ID       契約ID       売上日       売上
0  S-1000072  C-1000222  N-1002716  2021/1/1   6000.0
1  S-1000073  C-1000458  N-1000683  2021/1/1  50000.0
2  S-1000074  C-1000599  N-1001044  2021/1/1  10000.0
3  S-1000075  C-1000599  N-1001042  2021/1/1  10000.0
4  S-1000076  C-1000599  N-1001041  2021/1/1  10000.0

In [4]:
df_sales_2022 = pd.read_csv("data/売上テーブル_2022.csv", encoding="SJIS")
df_sales_2022.head()

        売上ID       顧客ID       契約ID       売上日     売上
0  S-1125052  C-1000892  N-1001965  2022/1/1  29000
1  S-1125053  C-1001352  N-1003792  2022/1/1  10000
2  S-1125054  C-1000547  N-1000944  2022/1/1  30000
3  S-1125055  C-1000072  N-1000075  2022/1/1  10000
4  S-1125056  C-1000222  N-1000275  2022/1/1  50000

In [5]:
df_customer = pd.read_csv("data/顧客テーブル.csv", encoding="SJIS")
df_customer.head()

        顧客ID   顧客区分         顧客名    地域 都道府県 市区町村      初回契約日    社員ID  顧客満足度
0  C-1000007  企業規模小    株式会社鈴木工業  関東地方  東京都  台東区   2015/1/9  101782      3
1  C-1000008    その他    株式会社中村工業    四国  徳島県  徳島市  2015/1/15  100726      3
2  C-1000009  企業規模中  大和屋根工事合同会社  関西地方  三重県   津市  2015/1/19  101305      2
3  C-1000010  企業規模大     株式会社ユタカ  関東地方  千葉県  松戸市  2015/1/19  107576      5
4  C-1000011  企業規模中    合資会社橋本商店  関東地方  東京都  大田区  2015/1/21  103152      1

## データの結合（ユニオン）: concat

In [6]:
# ignore_index: 結合前のインデックスを無視して、結合後のインデックスを適用
df_sales = pd.concat([df_sales_2021, df_sales_2022], ignore_index=True)
print(df_sales.head())
print(df_sales.tail())
print(len(df_sales))

        売上ID       顧客ID       契約ID       売上日       売上
0  S-1000072  C-1000222  N-1002716  2021/1/1   6000.0
1  S-1000073  C-1000458  N-1000683  2021/1/1  50000.0
2  S-1000074  C-1000599  N-1001044  2021/1/1  10000.0
3  S-1000075  C-1000599  N-1001042  2021/1/1  10000.0
4  S-1000076  C-1000599  N-1001041  2021/1/1  10000.0
            売上ID       顧客ID       契約ID         売上日       売上
75440  S-1177220  C-1001260  N-1004684  2022/12/30   9000.0
75441  S-1177223  C-1000315  N-1004170  2022/12/30  21000.0
75442  S-1177224  C-1000094  N-1004169  2022/12/30  15000.0
75443  S-1177234  C-1001645  N-1004605  2022/12/30  13000.0
75444  S-1177235  C-1001714  N-1004814  2022/12/31  50000.0
75445

## データの結合（ジョイン）: merge

In [7]:
df_sales_customer = pd.merge(left=df_sales, right=df_customer, how="left", on="顧客ID")
df_sales_customer.head()

,売上ID,顧客ID,契約ID,売上日,売上,顧客区分,顧客名,地域,都道府県,市区町村,初回契約日,社員ID,顧客満足度
0,S-1000072,C-1000222,N-1002716,2021/1/1,6000.0,その他,合同会社グループ明伸,関西地方,大阪府,大阪市中央区,2016/1/1,105523.0,3.0
1,S-1000073,C-1000458,N-1000683,2021/1/1,50000.0,企業規模大,有限会社小川商事,中部地方,愛知県,名古屋市中村区,2017/3/1,103462.0,2.0
2,S-1000074,C-1000599,N-1001044,2021/1/1,10000.0,企業規模中,吉田産業有限会社,北海道,北海道,札幌市中央区,2017/12/1,100173.0,4.0
3,S-1000075,C-1000599,N-1001042,2021/1/1,10000.0,企業規模中,吉田産業有限会社,北海道,北海道,札幌市中央区,2017/12/1,100173.0,4.0
4,S-1000076,C-1000599,N-1001041,2021/1/1,10000.0,企業規模中,吉田産業有限会社,北海道,北海道,札幌市中央区,2017/12/1,100173.0,4.0

## `75445 non-null` 欠損値を除いたデータ

In [8]:
df_sales_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75445 entries, 0 to 75444
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   売上ID    75445 non-null  object
 1   顧客ID    75445 non-null  object
 2   契約ID    75445 non-null  object
 3   売上日     75445 non-null  object
 4   売上      75443 non-null  float64
 5   顧客区分    75443 non-null  object
 6   顧客名     75443 non-null  object
 7   地域      75443 non-null  object
 8   都道府県    75443 non-null  object
 9   市区町村    75357 non-null  object
 10  初回契約日   75443 non-null  object
 11  社員ID    75443 non-null  float64
 12  顧客満足度   75443 non-null  float64
dtypes: float64(3), object(10)
memory usage: 7.5+ MB

## 欠損値を確認
loc: 表形式のデータから特定のレコードや項目、あるいはレコードや項目の組み合わせ選択・抽出する

In [9]:
df_sales_customer.loc[df_sales_customer['顧客区分'].isnull()]

,売上ID,顧客ID,契約ID,売上日,売上,顧客区分,顧客名,地域,都道府県,市区町村,初回契約日,社員ID,顧客満足度
38889,S-1125994,C-9999993,N-9999999,2021/12/31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38893,S-1125998,C-9999993,N-9999999,2021/12/31,9999999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_sales_customer.loc[df_sales_customer['売上'].isnull()]

,売上ID,顧客ID,契約ID,売上日,売上,顧客区分,顧客名,地域,都道府県,市区町村,初回契約日,社員ID,顧客満足度
38886,S-1125991,C-9999991,N-9999999,2021/12/31,NaN,その他,テスト会社A,関東地方,東京都,新宿区,1990/1/1,999999.0,99.0
38889,S-1125994,C-9999993,N-9999999,2021/12/31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 統計量の確認
* count: 件数
* mean: 平均値
* std: 標準偏差
* min: 最小値
* 25%: 小さい順で並べたときに下から25%に位置する値
* 50%: 下から50%に位置する値（中央値）
* 75%: 下から75%に位置する値
* max: 最大値

In [11]:
df_sales_customer.describe()

                 売上           社員ID         顧客満足度
count  7.544300e+04   75443.000000  75443.000000
mean   3.076949e+04  103257.970057      3.436051
std    9.159202e+04    9519.878995      1.564609
min    0.000000e+00  100002.000000      1.000000
25%    1.300000e+04  101242.000000      3.000000
50%    2.900000e+04  102443.000000      4.000000
75%    5.000000e+04  105523.000000      4.000000
max    9.999999e+06  999999.000000     99.000000

## データクリーニング
### 欠損値の処理
欠損値の処理はだいたい「欠損値を含むレコードや項目を消す」「欠損値を別の値で置き換える」「何もしない」のどれか

In [12]:
# 例：欠損値を除外 dropna, subset: 特定の項目のみに絞って判定, inplace: 上書き
df_sales_customer.dropna(subset=["売上"], inplace=True)
df_sales_customer.head()
df_sales_customer.loc[df_sales_customer["売上"].isnull()]

Empty DataFrame
Columns: [売上ID, 顧客ID, 契約ID, 売上日, 売上, 顧客区分, 顧客名, 地域, 都道府県, 市区町村, 初回契約日, 社員ID, 顧客満足度]
Index: []

### 異常値の処理

In [13]:
df_sales_customer.loc[(df_sales_customer["売上"] == 9999999) | (df_sales_customer["売上"] == 0)]
# 例：異常値は除外
df_sales_customer = df_sales_customer.loc[(df_sales_customer["売上"] != 9999999) & (df_sales_customer["売上"] != 0)]
df_sales_customer.head()

,売上ID,顧客ID,契約ID,売上日,売上,顧客区分,顧客名,地域,都道府県,市区町村,初回契約日,社員ID,顧客満足度
0,S-1000072,C-1000222,N-1002716,2021/1/1,6000.0,その他,合同会社グループ明伸,関西地方,大阪府,大阪市中央区,2016/1/1,105523.0,3.0
1,S-1000073,C-1000458,N-1000683,2021/1/1,50000.0,企業規模大,有限会社小川商事,中部地方,愛知県,名古屋市中村区,2017/3/1,103462.0,2.0
2,S-1000074,C-1000599,N-1001044,2021/1/1,10000.0,企業規模中,吉田産業有限会社,北海道,北海道,札幌市中央区,2017/12/1,100173.0,4.0
3,S-1000075,C-1000599,N-1001042,2021/1/1,10000.0,企業規模中,吉田産業有限会社,北海道,北海道,札幌市中央区,2017/12/1,100173.0,4.0
4,S-1000076,C-1000599,N-1001041,2021/1/1,10000.0,企業規模中,吉田産業有限会社,北海道,北海道,札幌市中央区,2017/12/1,100173.0,4.0

datetime型へ変換

In [17]:
df_sales_customer['売上日'] = pd.to_datetime(df_sales_customer['売上日'])
df_sales_customer.head()

,売上ID,顧客ID,契約ID,売上日,売上,顧客区分,顧客名,地域,都道府県,市区町村,初回契約日,社員ID,顧客満足度
0,S-1000072,C-1000222,N-1002716,2021-01-01,6000.0,その他,合同会社グループ明伸,関西地方,大阪府,大阪市中央区,2016/1/1,105523.0,3.0
1,S-1000073,C-1000458,N-1000683,2021-01-01,50000.0,企業規模大,有限会社小川商事,中部地方,愛知県,名古屋市中村区,2017/3/1,103462.0,2.0
2,S-1000074,C-1000599,N-1001044,2021-01-01,10000.0,企業規模中,吉田産業有限会社,北海道,北海道,札幌市中央区,2017/12/1,100173.0,4.0
3,S-1000075,C-1000599,N-1001042,2021-01-01,10000.0,企業規模中,吉田産業有限会社,北海道,北海道,札幌市中央区,2017/12/1,100173.0,4.0
4,S-1000076,C-1000599,N-1001041,2021-01-01,10000.0,企業規模中,吉田産業有限会社,北海道,北海道,札幌市中央区,2017/12/1,100173.0,4.0

In [18]:
df_sales_customer.loc[df_sales_customer['売上日'].dt.year == 2022]

,売上ID,顧客ID,契約ID,売上日,売上,顧客区分,顧客名,地域,都道府県,市区町村,初回契約日,社員ID,顧客満足度
38895,S-1125052,C-1000892,N-1001965,2022-01-01,29000.0,企業規模中,株式会社たんぽぽ,関西地方,大阪府,大阪市住之江区,2019/8/1,102434.0,2.0
38896,S-1125053,C-1001352,N-1003792,2022-01-01,10000.0,企業規模小,株式会社T＆K,関西地方,大阪府,大阪市港区,2021/5/1,100352.0,3.0
38897,S-1125054,C-1000547,N-1000944,2022-01-01,30000.0,企業規模小,三重木材合資会社,関西地方,兵庫県,西宮市,2017/10/1,101013.0,2.0
38898,S-1125055,C-1000072,N-1000075,2022-01-01,10000.0,企業規模小,有限会社フィール,四国,愛媛県,松山市,2015/4/1,100708.0,4.0
38899,S-1125056,C-1000222,N-1000275,2022-01-01,50000.0,その他,合同会社グループ明伸,関西地方,大阪府,大阪市中央区,2016/1/1,105523.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
75440,S-1177220,C-1001260,N-1004684,2022-12-30,9000.0,企業規模小,有限会社大塚商店,関東地方,千葉県,松戸市,2020/11/30,101824.0,5.0
75441,S-1177223,C-1000315,N-1004170,2022-12-30,21000.0,企業規模小,有限会社加藤工務店,関西地方,京都府,長岡京市,2016/5/30,101305.0,3.0
75442,S-1177224,C-1000094,N-1004169,2022-12-30,15000.0,企業規模中,株式会社OWL,関西地方,兵庫県,神戸市中央区,2015/4/30,101812.0,4.0
75443,S-1177234,C-1001645,N-1004605,2022-12-30,13000.0,企業規模小,有限会社東洋商事,関東地方,東京都,世田谷区,2022/9/30,103355.0,3.0
75444,S-1177235,C-1001714,N-1004814,2022-12-31,50000.0,その他,合資会社シュン・プロモーション中部,関東地方,東京都,杉並区,2022/12/31,102498.0,3.0

曜日の追加

In [23]:
df_sales_customer['売上日_曜日'] = df_sales_customer['売上日'].dt.day_name()
df_sales_customer.head()

,売上ID,顧客ID,契約ID,売上日,売上,顧客区分,顧客名,地域,都道府県,市区町村,初回契約日,社員ID,顧客満足度,売上日_曜日
0,S-1000072,C-1000222,N-1002716,2021-01-01,6000.0,その他,合同会社グループ明伸,関西地方,大阪府,大阪市中央区,2016/1/1,105523.0,3.0,Friday
1,S-1000073,C-1000458,N-1000683,2021-01-01,50000.0,企業規模大,有限会社小川商事,中部地方,愛知県,名古屋市中村区,2017/3/1,103462.0,2.0,Friday
2,S-1000074,C-1000599,N-1001044,2021-01-01,10000.0,企業規模中,吉田産業有限会社,北海道,北海道,札幌市中央区,2017/12/1,100173.0,4.0,Friday
3,S-1000075,C-1000599,N-1001042,2021-01-01,10000.0,企業規模中,吉田産業有限会社,北海道,北海道,札幌市中央区,2017/12/1,100173.0,4.0,Friday
4,S-1000076,C-1000599,N-1001041,2021-01-01,10000.0,企業規模中,吉田産業有限会社,北海道,北海道,札幌市中央区,2017/12/1,100173.0,4.0,Friday

## データフレームのコピー
`df.copy()` でコピーする。`=` をすると、リストと同じように参照先情報だけコピーされる

In [24]:
df_sales_customer_2 = df_sales_customer.copy()
df_sales_customer_2.head()

,売上ID,顧客ID,契約ID,売上日,売上,顧客区分,顧客名,地域,都道府県,市区町村,初回契約日,社員ID,顧客満足度,売上日_曜日
0,S-1000072,C-1000222,N-1002716,2021-01-01,6000.0,その他,合同会社グループ明伸,関西地方,大阪府,大阪市中央区,2016/1/1,105523.0,3.0,Friday
1,S-1000073,C-1000458,N-1000683,2021-01-01,50000.0,企業規模大,有限会社小川商事,中部地方,愛知県,名古屋市中村区,2017/3/1,103462.0,2.0,Friday
2,S-1000074,C-1000599,N-1001044,2021-01-01,10000.0,企業規模中,吉田産業有限会社,北海道,北海道,札幌市中央区,2017/12/1,100173.0,4.0,Friday
3,S-1000075,C-1000599,N-1001042,2021-01-01,10000.0,企業規模中,吉田産業有限会社,北海道,北海道,札幌市中央区,2017/12/1,100173.0,4.0,Friday
4,S-1000076,C-1000599,N-1001041,2021-01-01,10000.0,企業規模中,吉田産業有限会社,北海道,北海道,札幌市中央区,2017/12/1,100173.0,4.0,Friday

インデックスの初期化

In [28]:
df_sales_customer_2.reset_index(drop=True, inplace=True)  # drop: 元々あったインデックスを項目に追加するかどうか
df_sales_customer_2.tail()

,index,売上ID,顧客ID,契約ID,売上日,売上,顧客区分,顧客名,地域,都道府県,市区町村,初回契約日,社員ID,顧客満足度,売上日_曜日
75430,75430,S-1177220,C-1001260,N-1004684,2022-12-30,9000.0,企業規模小,有限会社大塚商店,関東地方,千葉県,松戸市,2020/11/30,101824.0,5.0,Friday
75431,75431,S-1177223,C-1000315,N-1004170,2022-12-30,21000.0,企業規模小,有限会社加藤工務店,関西地方,京都府,長岡京市,2016/5/30,101305.0,3.0,Friday
75432,75432,S-1177224,C-1000094,N-1004169,2022-12-30,15000.0,企業規模中,株式会社OWL,関西地方,兵庫県,神戸市中央区,2015/4/30,101812.0,4.0,Friday
75433,75433,S-1177234,C-1001645,N-1004605,2022-12-30,13000.0,企業規模小,有限会社東洋商事,関東地方,東京都,世田谷区,2022/9/30,103355.0,3.0,Friday
75434,75434,S-1177235,C-1001714,N-1004814,2022-12-31,50000.0,その他,合資会社シュン・プロモーション中部,関東地方,東京都,杉並区,2022/12/31,102498.0,3.0,Saturday